<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile
                name="File"
                fileName="logs/packetcapture.log"
                filePattern="logs/packetcapture.%d{dd-MM-yyyy}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy>
                <Delete basePath="logs/" maxDepth="1">
                    <IfFileName glob="packetcapture.*.log.gz"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="File" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
